body{
    background: linear-gradient(180deg, #f7db05 0%, #008744 50%, #0056b3 100%);
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

.cabecalho{
    color: white;
    background-color: rgba(0, 0, 0, 0.67);
    font-family: "Segoe UI Black", "Segoe UI", sans-serif;
    font-weight: 900;
    width: 100%;
    text-align: center;
    font-size: 35px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.5);
}

.cabecalho h1{
    margin: 0;
    padding: 20px;
}

.cabecalho img{
    margin-top: 1%;
    margin-left: 1%;
    position: absolute;
    left: 0;
    top: 0;
    width: 75px;
    cursor: pointer;
}

.imagem-posicao{
    width:100%;
    margin-top: -20px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.rodape{
    margin-bottom: auto;
    background-color: rgb(0, 0, 0, 0.67);
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
}

.rodape p{
    margin: 5;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    margin-left: 3px;
}

.posicao{
    text-align: center;
    font-family:"Segoe UI Black", "Segoe UI", sans-serif;
    color: white;
    font-size: 50px;
    margin: 0;
    transition: 0.2s;
}

.goleiros{
    background-color: rgb(0, 0, 0, 0.67);
    width: 70%;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding: 15px;
    margin: 100px auto;
    border-radius: 25px;
    transition: 0.2s;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.5);
}

.defensores{
    background-color: rgb(0, 0, 0, 0.67);
    width: 70%;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding: 15px;
    margin: 100px auto;
    border-radius: 25px;
    transition: 0.2s;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.5);
}

.mcampistas{
    background-color: rgb(0, 0, 0, 0.67);
    width: 70%;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding: 15px;
    margin: 100px auto;
    border-radius: 25px;
    transition: 0.2s;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.5);
}

.atacantes{
    background-color: rgb(0, 0, 0, 0.67);
    width: 70%;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding: 15px;
    margin: 100px auto;
    border-radius: 25px;
    transition: 0.2s;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.5);
}

.ancelotti{
    background-color: rgb(0, 0, 0, 0.67);
    width: 70%;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding: 15px;
    margin: 100px auto;
    border-radius: 25px;
    transition: 0.2s;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.5);
}

.goleiros:hover{
    width: 75%;
    .posicao{
        font-size: 55px;
    }
}

.defensores:hover{
    width: 75%;
    .posicao{
        font-size: 55px;
    }
}

.mcampistas:hover{
    width: 75%;
    .posicao{
        font-size: 55px;
    }
}

.atacantes:hover{
    width: 75%;
    .posicao{
        font-size: 55px;
    }
}

.ancelotti:hover{
    width: 75%;
    .posicao{
        font-size: 55px;
    }
}

.irpgrupo{
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
    margin-left: auto;
    margin-right: auto;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 27px;
    font-weight: 700;
    width: 500px;
}

.botao{
    margin-bottom: 50px;
}
#botaopagina{
    background-color: rgb(0, 0, 0, 0.67);
    border: none;
    color: white;
    font-family: "Segoe UI Black", "Segoe UI", sans-serif;
    height: 60px;
    width: 200px;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
}

#botaopagina:hover{
    background-color:#076926;
    font-size: 23px;
    height: 65px;
    width: 210px;
}